* {padding: 0;margin: 0;}
body,html {width: 100%;height: 100%;}
ul {list-style-type: none;}
a{text-decoration: none;color: #fff2e8;}
body {background: #4b311f url('../image/bg.jpg') no-repeat top center;}
.mian {width: 1000px;overflow: hidden;margin: 0 auto;}
.nav {background: url('../image/head.png') no-repeat top center;height: 170px;margin-top: 250px;overflow: hidden;position: relative;}
.navs {margin-left: 200px;margin-top: 35px;overflow: hidden;}
.navs li {float: left;margin-left: 5px;}
.navs li a {padding: 20px 40px;display: inline-block;font-size: 18px;font-weight: bold;}
.navs li a:hover {color: #ffff00;}
.down {display: inline-block;width: 206px;height: 133px;position: absolute;left: 0;top: 0;z-index: 8;}
.content {background: #ffe8d7 url('../image/content.png') no-repeat top center;position: relative;min-height: 340px;border-left: 3px solid #000;border-right: 3px solid #000;overflow: hidden;position: relative;}
.foot {background: url('../image/foot.png') no-repeat top center;height: 28px;margin-bottom: 50px;}
.txt {padding: 20px 60px;}
h3{margin-bottom: 20px;}
h3 img {margin-right: 10px;position: relative;top: 7px;}
.txt p {line-height: 32px;}
.kj {position: absolute;right: 20px;bottom: 27px;}
.kj span {margin-left: 40px;}
.user {margin: 20px 40px;background: #4b311f;padding: 20px;color: #fff;}
.user .login a {color: #f00;}

.tg-list {margin: 20px 40px;overflow: hidden;}
.tg-list ul {overflow: hidden;}
.tg-list ul li {float: left;width: 228px;text-align: center;display: block;line-height: 28px;margin-bottom:20px;}
.tg-list ul li a {background: #f00;font-size: 14px;padding: 2px 5px;border-radius: 4px;}
.tg-list ul li .jl {font-size: 12px;color: #ff00f6;display: inline-block;}
.tg-list ul li a:hover {background: #4b311f;}
.tg-list ul li .btn {font-size: 12px;}
.bg {background: rgba(0, 0, 0, 0.5);position: fixed;z-index: 9;width: 100%;height: 100%;display: block;top: 0;}
.lg {width: 400px;background: #fff;position: fixed;top: 50%;left: 50%;margin-left: -200px;z-index: 99;height: 330px;margin-top: -165px;box-shadow:  0 0 15px #000;border-radius: 4px;overflow: hidden;}
.lg .l {float: left;width: 150px;}
.lg .r {float: right;width: 210px;padding: 0 20px;}
.lg .input {margin-bottom: 10px;overflow: hidden;}
.lg .input input {width: 190px;padding: 8px;border: 1px solid #ddd;outline:none;}
.lg .input select {width: 210px;padding: 8px;border: 1px solid #ddd;outline:none;}
.lg h4 {text-align: center;padding: 20px 0;}
.lg .input .dlbtn {width: 210px;cursor: pointer;background: #4b311f;color: #fff;}
.lg .input .dlbtn:hover {background: #b1652e;}
.code {position: absolute;top: 5px;}

.reg {position: absolute;width: 200px;background: #fff;top: 440px;right: 50%;margin-right: -400px;padding: 20px;border-radius: 4px;box-shadow: 0 0 20px #dbbeab;}
.reg h3 {text-align: center;margin-bottom: 5px;color: #4b311f;}
.reg p {font-size: 12px;text-align: center;color: #666;margin-bottom: 10px;}
.reg .input {margin-bottom: 10px;}
.reg .input input,.reg .input select {border: 1px solid #ddd;padding: 7px;outline: unset;width: 185px;}
.reg .input .zc,.reg .input select {width: 200px;}
.reg img {position: absolute;top: 5px;right: 0px;}
.reg .input .zc {background: #4b311f;color: #fff;border-radius: 4px;}
.reg .input .zc:hover {background: #b1652e;}

.log {position: absolute;right: 10px;bottom: 20px;overflow: hidden;width: 300px;height: 120px;}
.log ul {position: absolute;top: 0;min-height: 140px;}
.log ul li {font-size: 12px;}

.user .login .loout {color: #ff00f6;font-size: 12px;}
.user .login .loout:hover {color: #f00;}

.jp {margin: 20px 40px;}
.jp ul {overflow: hidden;}
.jp ul li {width: 172px;height: 150px;float: left;background: #4b311f;margin-right: 11px;margin-bottom: 10px;border-radius: 4px;text-align: center;border:1px solid #000;color: #fff;position:relative;}
.jp ul li:nth-of-type(5n+0) {margin-right: 0;}
.jp .zzls {position:absolute;top:5px;left:5px;font-size:12px;}
#cj {background: #ff00f6;color: #fff;padding: 5px 10px;border-radius: 4px;}
#cj:hover {background: #f00;}

.gou {background: #fff;width: 260px;position: fixed;top: 50%;left: 50%;margin-left: -150px;z-index: 999;padding:20px;border-radius: 4px;margin-top: -100px;box-shadow: 0 0 20px #4b311f;}
.gou h3 {text-align: center;color: #333;}
.gou .input input {padding: 10px;border: 1px solid #ddd;outline: none;width: 240px;border-radius: 4px;}
.gou button {width: 260px;border: 0;background: #4b311f;border-radius: 4px;padding: 10px;color: #fff;cursor: pointer;}
.gou button:hover {opacity: 0.8;}
.gou .close {position: absolute;right: 20px;top: 5px;font-size: 30px;cursor: pointer;}
.gou .txt {position: absolute;top: 183px;right: -28px;}
.gou p {color: #666;font-size: 12px;text-align: center;margin-bottom: 10px;}

.down-d {margin-left: 60px;display: inline-block;margin-top: 30px;}
.down-d:hover {opacity: 0.8;}